<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">
<title>Editar Agendamento</title>

<style>

body{
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
}

.container{
    max-width:400px;
    margin:40px auto;
    background:#222;
    padding:25px;
    border-radius:15px;
}

input, select, button{

    width:90%;
    padding:12px;
    margin:10px;
    border-radius:8px;
    border:0;

}

button{

    background:#c89b3c;
    color:white;
    font-size:17px;

}

</style>

</head>


<body>

<div class="container">

<h1>✏️ Editar Agendamento</h1>


<form method="POST" action="/salvar_edicao/{{ agendamento.id }}">


<input
type="text"
name="nome"
value="{{ agendamento.nome }}"
required>


<select name="servico" id="servico" onchange="atualizarDuracao()">

<option {% if agendamento.servico == "Corte" %}selected{% endif %}>
Corte
</option>

<option {% if agendamento.servico == "Corte e pigmentação" %}selected{% endif %}>
Corte e pigmentação
</option>

<option {% if agendamento.servico == "Corte e barba" %}selected{% endif %}>
Corte e barba
</option>

<option {% if agendamento.servico == "Corte e sobrancelha" %}selected{% endif %}>
Corte e sobrancelha
</option>

<option {% if agendamento.servico == "Barba" %}selected{% endif %}>
Barba
</option>

<option {% if agendamento.servico == "Corte, barba e pigmentação" %}selected{% endif %}>
Corte, barba e pigmentação
</option>

</select>


<input
type="date"
name="data"
value="{{ agendamento.data }}">


<input
type="time"
name="hora"
value="{{ agendamento.hora }}">


<input
id="duracao"
type="hidden"
name="duracao"
value="{{ agendamento.duracao }}">

<button>
Salvar Alteração
</button>


</form>


<br>

<a href="/agenda">
Voltar
</a>


</div>

<script>

function atualizarDuracao(){

    let servico = document.getElementById("servico");

    let duracao = 30;

    if(servico.value == "Corte e pigmentação"){
        duracao = 60;
    }

    if(servico.value == "Corte e barba"){
        duracao = 40;
    }

    if(servico.value == "Corte e sobrancelha"){
        duracao = 35;
    }

    if(servico.value == "Barba"){
        duracao = 15;
    }

    if(servico.value == "Corte, barba e pigmentação"){
        duracao = 65;
    }

    document.getElementById("duracao").value = duracao;

}

</script>
</body>

</html>
